# Default values for demoservice1.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
appversion: 9
build : "1"
test:
  key: "value2"
pullsecret:
  name: codefresh-generated-r.cfcr.io/aschiebold/aschiebold/demochat1:master
image:
  repository: aschiebold/demochat-1
  name: r.cfcr.io/aschiebold/aschiebold/demochat1:kubecon
  tag: v8
  pullPolicy: Always
test:
  image: aschiebold/demochat-1:kubecon
service:
  name: demochat
  type: LoadBalancer
  externalPort: 80
  internalPort: 5000
commit:
  sha: "1234"
  branch: "master"
  repo : "jennyps/demochat"
ingress:
  enabled: false
  # Used to create an Ingress record.
  hosts:
    - chart-example.local
  annotations:
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  tls:
    # Secrets must be manually created in the namespace.
    # - secretName: chart-example-tls
    #   hosts:
    #     - chart-example.local
resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi
